<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:fragment="header-css">
        <!-- this is header-css -->
        <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    </div>
</head>
<body>

<div th:fragment="header">
    <nav role='navigation'>
        <ul>
            <li><a href="/">Главная</a></li>
            <li><a href="/fullTextSearch">Поиск</a>
                <ul>
                    <li><a href="/fullTextSearch">Полнотекстовый</a></li>
                    <li><a href="/search-clear">Форма поиска</a></li>
                </ul>
            </li>
            <li><a href="dataShowcase">Данные</a></li>
        </ul>
    </nav>
</div>

</body>
</html>