h1{
    color: #4a2bff;
}

h2{
    color: #4285F4;
}

h2.black{
    color: #000;
}

footer{
    margin-top:60px;
}

td .nav-link {
    padding: 0;
}

/**
    Табличные стили
 */

table.standart th {
    font-weight: normal;
    color: #039;
    padding: 10px 15px;
}
table.standart td {
    color: #669;
    border-top: 1px solid #e8edff;
    padding: 10px 15px;

    white-space: nowrap; /* Запрещаем перенос строк */
    overflow: hidden; /* Обрезаем все, что не помещается в область */
    /*background: #fc0; !* Цвет фона *!*/
    /*padding: 5px; !* Поля вокруг текста *!*/
    text-overflow: ellipsis; /* Добавляем многоточие */
}
table.standart tr:nth-child(2n) {background: #e8edff;}


/**
    Меню
 */


@import url(https://fonts.googleapis.com/css?family=Lato);

*, *:before, *:after{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

/*| Navigation |*/

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    box-shadow: 0 3px 10px -2px rgba(0,0,0,.1);
    border: 1px solid rgba(0,0,0,.1);
}
nav ul{
    list-style: none;
    position: relative;
    float: right;
    margin-right: 100px;
    display: inline-table;
}
nav ul li{
    float: left;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

nav ul li:hover{background: rgba(0,0,0,.15);}
nav ul li:hover > ul{display: block;}
nav ul li{
    float: left;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
nav ul li a{
    display: block;
    padding: 30px 20px;
    color: #222;
    font-size: .9em;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
}
nav ul ul{
    display: none;
    background: #fff;
    position: absolute;
    top: 100%;
    box-shadow: -3px 3px 10px -2px rgba(0,0,0,.1);
    border: 1px solid rgba(0,0,0,.1);
}
nav ul ul li{float: none; position: relative;}
nav ul ul li a {
    padding: 15px 30px;
    border-bottom: 1px solid rgba(0,0,0,.05);
}
nav ul ul ul {
    position: absolute;
    left: 100%;
    top:0;
}

.page_wrapper {
    width: 1000px;
    margin: 0 auto;
    margin-top: 78px;
    /*overflow: hidden;*/
}

.section_header {
    margin: 30px 0 15px 0;
}
.section_header:first-of-type {
    padding-top: 20px;
}

.flex_table {
    width: 100%;
}

.search {
    position: relative;
    margin-bottom: 30px;
}
.search form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    /* position: absolute; */
    /* top: 50px; */
    /* width: 100%; */
    padding-top: 50px;
}

.search fieldset {
    position: relative;
}

.fa-search{
    position: relative;
    top: 0px;
    font-size: 20px !important;
}

.search  .url{
    margin: 20px 50px;
    -webkit-box-flex: 5;
    -ms-flex-positive: 5;
    flex-grow: 5;
    border: none;
}

.search  .enter{
    margin: 20px 20px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    border: none;
}

.search label {
    position: absolute;
    top: -5px;
    left: 0px;
    letter-spacing: 10px;
    font-size: 20px;
    color: rgba(55, 73, 87, 0.8);
    -webkit-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.search input:focus ~ label {
    color: #4285F4;
}

.search input:focus ~ label,
.search input:valid ~ label {
    top: 0;
    letter-spacing: 5px;
    -webkit-transform: translate(0, -30px) scale(0.7, 0.7);
    -ms-transform: translate(0, -30px) scale(0.7, 0.7);
    transform: translate(0, -30px) scale(0.7, 0.7);

}

.search input {
    font-family: system-ui, Helvetica, Arial, sans-serif;
    font-size: 20px !important;
    width: 100%;
    border: none;
    margin-top: 0;
    background-color: transparent;
}

.search input:focus {
    outline: none;
}

.search .after {
    width: 100%;
    height: 2px;
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, RGBA(254, 253, 255, 1.00)), color-stop(50%, transparent));
    background: -webkit-linear-gradient(left, #4285F4 50%, transparent 50%);
    background: -o-linear-gradient(left, #4285F4 50%, transparent 50%);
    background: linear-gradient(to right, #4285F4 50%, transparent 50%);
    background-color: rgba(55, 73, 87, 0.8);
    background-size: 200% 100%;
    background-position: 100% 0;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.search input:focus ~ .after {
    background-position: 0 0;
}

.search button {
    position: relative;
    width: 200px;
    height: 34px;
    font-size: 20px;
    font-family: system-ui, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    /* margin-top: 20px; */
    padding: 2px 10px;
    color: rgba(255, 255, 255, 0.6);
    background: white;
    border: none;
    border-radius: 15px;
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, white), color-stop(50%, transparent));
    background: -webkit-linear-gradient(left, white 50%, transparent 50%);
    background: -o-linear-gradient(left, white 50%, transparent 50%);
    background: linear-gradient(to right, white 50%, transparent 50%);
    background-color: #4285F4;
    background-size: 200% 100%;
    background-position: 100% 0;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
}

.search button:before {
    position: absolute;
    font-family: system-ui, FontAwesome, Helvetica, Arial, sans-serif;;
    font-size: 20px;
    content: "\f00c";
    letter-spacing: 3px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    top: 2px;
    bottom: 2px;
    left: 2px;
    right: 2px;
    display: block;
    border-radius: 15px;
    /*color: white;*/
    background-color: rgba(0, 0, 0, 0.3);
}

.search button:active,
.search button:focus,
.search button:hover {
    outline: none;
    background-position: 0 0;
    color: white;
}

.serch_backgr {
    background: url("/img/search.svg") center no-repeat;
    background-size: 100%;
    width: 15px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
}


@media (max-width: 590px){
    .search  button{
        width: 150px;
        margin-left: -20px !important;
    }
    .search  label{
        letter-spacing: 7px;
    }
}

@media (max-width: 475px){
    .search  form{
        -webkit-box-orient: vertical !important;
        -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
        flex-direction: column !important;
    }
    .search  button{
        float: right;
        margin-right: 25px !important;
    }
}

@media (max-width: 315px){
    .search  label{
        letter-spacing: 5px;
    }
}

@media (max-width: 300px){
    .search  label{
        font-size: 10px;
        letter-spacing: 3px;
    }
}

.prompt {
    position: absolute;
    left: 49px;
    bottom: -7px;
    color: rgba(55, 73, 87, 0.8);
}
.prompt span {
    color: #4285F4;
    text-decoration: underline;
    cursor: pointer;
}

svg {
    width: 100%;
    height: 100%;
}

path.slice{
    stroke-width:2px;
}

polyline{
    opacity: .3;
    stroke: black;
    stroke-width: 2px;
    fill: none;
}

.pie_chart {
    height: 500px;
}