<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Платформа отчетов</title>
    <title>АСПД - Информационная система</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <div th:replace="fragments/header :: header-css"/>

</head>
<body>
<div th:replace="fragments/header :: header"></div>


    <div class="page_wrapper">

        <div class="section_header">
            <h2>Информация о системе</h2>
        </div>

        <div class="dashboard">

            <div class="pie_chart">

            </div>

        </div>

<!--
        "Реестр Юридических лиц", "Реестр государственных организаций", "Реестр государственных организаций",
        "ФСС", "ФИАС", "ПФР", "ФНС", "Реестр страхователей", "Реестр получателей услуг", "Реестр бюджетных организаций",
        "Росреестр"-->

        <table class="standart flex_table">
            <tbody>
            <tr>
                <th></th>
                <th>Название</th>
                <th>Адрес</th>
            </tr>
            <tr th:each="modelRecord : ${modelRecordList}">
                <td style="max-width: 300px" th:utext="${modelRecord.name}">...</td>
                <td style="max-width: 300px" th:utext="${modelRecord.label}">...</td>
                <td style="max-width: 300px" th:utext="${modelRecord.uri}">...</td>
            </tr>
            </tbody>
        </table>

    </div>

<!-- /.container -->
<!--<option th:each="typeDog : ${typeDogs}"
        th:value="${typeDog.id}"
        th:text="${typeDog.nameType}">
</option>-->


<div th:replace="fragments/footer :: footer"></div>
<!--<script type="text/javascript" src="https://d3js.org/d3.v6.min.js"></script>-->
<script type="text/javascript"  src="https://d3js.org/d3.v3.min.js"></script>
<script type="text/javascript" src="/js/pages/main.js"></script>
</body>