<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Платформа отчетов</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <div th:replace="fragments/header :: header-css"/>

</head>
<body>
<div th:replace="fragments/header :: header"></div>


    <table class="standart">
        <tbody>
        <tr>
            <th>id</th>
            <th>Название</th>
            <th>Адрес</th>
        </tr>
        <tr th:each="modelRecord : ${modelRecordList}">
            <td th:utext="${modelRecord.name}">...</td>
            <td th:utext="${modelRecord.label}">...</td>
            <td th:utext="${modelRecord.uri}">...</td>
        </tr>
        </tbody>
    </table>

<!-- /.container -->
<!--<option th:each="typeDog : ${typeDogs}"
        th:value="${typeDog.id}"
        th:text="${typeDog.nameType}">
</option>-->


<div th:replace="fragments/footer :: footer"></div>

</body>
</html>