<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>АСПД - Информационная система</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <div th:replace="fragments/header :: header-css"/>

</head>
<body>
<div th:replace="fragments/header :: header"></div>


<div class="page_wrapper">

    <div class="section_header">
        <h2>Онтологическая модель данных</h2>
    </div>

    <table class="standart flex_table">
        <tbody>
        <tr>
            <th style="max-width: 300px">id</th>
            <th>Название</th>
            <th style="max-width: 300px">Адрес</th>
        </tr>
        <tr th:each="modelRecord : ${modelRecordList}">
            <td style="max-width: 300px" th:utext="${modelRecord.name}">...</td>
            <td style="max-width: 300px" th:utext="${modelRecord.label}">...</td>
            <td style="max-width: 300px" th:utext="${modelRecord.uri}">...</td>
        </tr>
        </tbody>
    </table>
</div>

<!-- /.container -->
<!--<option th:each="typeDog : ${typeDogs}"
        th:value="${typeDog.id}"
        th:text="${typeDog.nameType}">
</option>-->


<div th:replace="fragments/footer :: footer"></div>

</body>
</html>