<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Четкий поиск</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css'>
    <link rel="stylesheet" th:href="@{/css/search-clear.css}" />
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js'></script>
    <script th:src="@{/js/pages/search-clear.js}"></script>

</head>
<body>

<!-- MultiStep Form -->
<div class="container-fluid" id="grad1">
    <div class="row justify-content-center mt-0">
        <div class="col-11 col-sm-9 col-md-7 col-lg-6 text-center p-0 mt-3 mb-2">
            <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
                <h2><strong>Найдите интересующую вас сущность </strong></h2>
                <p>Fill all form field to go to next step</p>
                <div class="row">
                    <div class="col-md-12 mx-0">
                        <form id="msform">
                            <!-- progressbar -->
                            <ul id="progressbar">
                                <li class="active" id="account"><strong>Поиск</strong></li>
                                <li id="personal"><strong>Отношения</strong></li>
                                <li id="payment"><strong>Сущности</strong></li>
                                <li id="confirm"><strong>Витрины данных</strong></li>
                            </ul> <!-- fieldsets -->
                            <fieldset>
                                <div class="form-card">
                                    <h2 class="fs-title">Поиск сущности</h2>
                                    <input type="text" id="entity" name="entity" placeholder="Entity" class="entities" />
                                </div>

                                <input type="button" name="next" class="next action-button" value="Next Step" />


                            </fieldset>
                            <fieldset>

                                <div class="form-card">
                                    <h2 class="fs-title">Связи</h2>
                                    <div class="custom-control custom-radio">
                                        <input class="custom-control-input" type="radio" id="1" name="relationship" ><label class="custom-control-label" for="1">Может Зарегистрировать </label><br/>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input class="custom-control-input" type="radio" id="3" name="relationship"><label class="custom-control-label" for="3">Может Иметь </label><br/>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input class="custom-control-input" type="radio" id="4" name="relationship"><label class="custom-control-label" for="4">Может Жить На Территории </label><br/>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input class="custom-control-input" type="radio" id="6" name="relationship"><label class="custom-control-label" for="6">Может Обратиться </label><br/>
                                    </div>
                                </div> <input type="button" name="previous" class="previous action-button-previous" value="Previous" /> <input type="button" name="next" class="next action-button" value="Next Step" />
                            </fieldset>
                            <fieldset>

                                    <h2 class="fs-title">Связанные сущности</h2>
                                    <div class="form-card">
                                        <h2 class="fs-title">Связи</h2>
                                        <div class="custom-control custom-radio">
                                            <input class="custom-control-input" type="radio" id="10" name="node" ><label class="custom-control-label" for="10">Ребенок</label><br/>
                                        </div>
                                        <div class="custom-control custom-radio">
                                            <input class="custom-control-input" type="radio" id="11" name="node"><label class="custom-control-label" for="11">Цифровой Ресурс</label><br/>
                                        </div>
                                        <div class="custom-control custom-radio">
                                            <input class="custom-control-input" type="radio" id="12" name="node"><label class="custom-control-label" for="12">ПаспортЗдоровья</label><br/>
                                        </div>
                                        <div class="custom-control custom-radio">
                                            <input class="custom-control-input" type="radio" id="13" name="node"><label class="custom-control-label" for="13">Недвижимое Имущество </label><br/>
                                        </div>
                                    </div>

                                <input type="button" name="previous" class="previous action-button-previous" value="Previous" /> <input type="button" name="make_payment" class="next action-button" value="Confirm" />
                            </fieldset>
                            <fieldset>
                                <div class="form-card">
                                    <h2 class="fs-title text-center">Витрины данных</h2> <br><br>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">Витрина данных 1</li>
                                        <li class="list-group-item">Витрина данных 2 </li>
                                        <li class="list-group-item">Витрина данных 3</li>
                                    </ul>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<script type="text/javascript" th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>-->
<!--<script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>-->
<!--<script type="text/javascript" th:src="@{/webjars/popper.js/1.14.3/popper.min.js}"></script>-->
</body>
</html>